.App {
  min-height: 100vh;
  background: rgb(69, 128, 148);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 25px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
  font-size: 50px;
}